<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoboControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RoboControl.Properties.Settings>
            <setting name="RoboHeadAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="IpWebcamPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="UdpSendPort" serializeAs="String">
                <value>51974</value>
            </setting>
            <setting name="DriveModeNormalMaxSpeed" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="DriveModeTurboMaxSpeed" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Speed1" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="Speed2" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="Speed3" serializeAs="String">
                <value>153</value>
            </setting>
            <setting name="Speed4" serializeAs="String">
                <value>204</value>
            </setting>
            <setting name="Speed5" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ReverseHeadTangage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SingleMessageRepetitionsCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PlayVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoboScript0" serializeAs="String">
                <value>r0100, Z0001, I0000, W0000, Z0000</value>
            </setting>
            <setting name="RoboScript2" serializeAs="String">
                <value>r0102, Z000A, L00FF, W0000, R0050, W03E8, LFFB0, W0000, RFF01, W03E8, L00FF, W0000, R0050, W03E8, L00FF, W0000, RFF01, W03E8, L0000, W0000, R0000, W0000, Z0000</value>
            </setting>
            <setting name="RoboScript3" serializeAs="String">
                <value />
            </setting>
            <setting name="RoboScript4" serializeAs="String">
                <value />
            </setting>
            <setting name="RoboScript5" serializeAs="String">
                <value />
            </setting>
            <setting name="RoboScript6" serializeAs="String">
                <value />
            </setting>
            <setting name="RoboScript7" serializeAs="String">
                <value />
            </setting>
            <setting name="RoboScript8" serializeAs="String">
                <value />
            </setting>
            <setting name="RoboScript9" serializeAs="String">
                <value>r0109, Z0001, I0001, W0000, Z0000</value>
            </setting>
            <setting name="RoboScript1" serializeAs="String">
                <value>r0101, Z0001, M0105, W0000, Z0000</value>
            </setting>
            <setting name="UdpReceivePort" serializeAs="String">
                <value>51973</value>
            </setting>
        </RoboControl.Properties.Settings>
    </applicationSettings>
</configuration>