<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoboControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RoboControl.Properties.Settings>
            <setting name="RoboHeadAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="IpWebcamPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="MessagePort" serializeAs="String">
                <value>51974</value>
            </setting>
            <setting name="DriveModeNormalMaxSpeed" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="DriveModeTurboMaxSpeed" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Speed1" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="Speed2" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="Speed3" serializeAs="String">
                <value>153</value>
            </setting>
            <setting name="Speed4" serializeAs="String">
                <value>204</value>
            </setting>
            <setting name="Speed5" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ReverseHeadTangage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SingleMessageRepetitionsCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PlayVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayAudio" serializeAs="String">
                <value>True</value>
            </setting>
        </RoboControl.Properties.Settings>
    </applicationSettings>
</configuration>